/* .row > div{

    height:15rem;
    background:white;
    border:1px solid white;
    padding:0px;
    margin:0px;
    
  } */
  .set{
    border:5px solid white;
    background:whitesmoke; 
    width:10.5rem;
     border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
  }
  .ger{
    
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom:none;
    width:10.5rem;
    height:8rem;
    
  /*   position:absolute;
    right:0px; */
    
    
  }
  .details{
   background:whitesmoke;
    width:9.7rem;
    padding:8px;
/*     margin-left:6.5px; */
    font-size:10px;
    
   
    
  }
  .c-size{
    font-size:12px;
  }
@media(min-width:530px){
  body{
    display:flex;  
  }
}
  